body {
	background-color: #323F6C;
	color: #323F6C;
}

* {
	box-sizing: border-box;
}

/* Add padding to containers */
.container {
	margin: 0 auto;
	border-radius: 5px;
	padding: 20px;
	width: 40%;
	background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

/* Set a style for the submit button */
.registerbtn {
	background-color: #2D3A97;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.registerbtn:hover {
	opacity: 1;
}