body {
	background-color: #FEFEFE;
}
div{
	border: none;
	border-radius: 2px;
}

.container {
	padding: 5px;
	position: relative;
	top: 15px;
}

.profileInfoLeft {
	position: relative;
	background-color: #E5E7E9;
	left: 20px;
	max-width: 15%;
	max-height: 20%;
	float: left;
}

#profileImage {
	width: 100%;
	height: 60%;
}
.mainInfo{
	padding: 5px;
}

.rightSide{
	background-color: #E5E7E9;
	position: relative;
	float: right;
	margin-right: 100px;
	padding: 10px;
	width: 50%;
}

#title{
	margin-left: 5px;
	
}

.about{
	background-color: white;
	padding: 5px;
}



