

.header123 {
		font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	background-color: #323F6C;
}

.left123 {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown123 {
	
	display:block;
	overflow: hidden;
	float: right;
}

.dropbtn123 {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: #323F6C;
	font-family: inherit;
	margin: 0;
}



.left123:hover, .dropdown:hover .dropbtn {
	background-color: #ddd;
}

.dropdown-content123 {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0;
}

.right123 {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.right123:hover {
	background-color: #ddd;
}

.dropdown123:hover .dropdown-content123 {
	display: block;
}

.arrowdown123 {
	position : relative;
	left: 3px;
	bottom : 3px;
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;

	transform: rotate(45deg);
}