.vacancy {
  width: 70%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 80px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.vacancy_header {
  overflow: hidden;
}

.unstyled-list ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes follow-animation {
  from {
    background: white;
    color: #3399FF;
    width: 85px;
    left: 50px;
  }

  to {
    background: #2EB82E;
    border-color: #2EB82E;
    color: #ffffff;
    width: 120px;
    left: 35px;
  }
}

@-webkit-keyframes unfollow-animation {
  from {
    background: #2EB82E;
    color: #ffffff;
    width: 120px;
    left: 35px;
  }

  to {
    background: white;
    border-color: #3399FF;
    color: #3399FF;
    width: 85px;
    left: 50px;
  }
}

/* Standard syntax */
@keyframes follow-animation {
  from {
    background: white;
    color: #3399FF;
    width: 85px;
    left: 50px;
  }

  to {
    background: #2EB82E;
    border-color: #2EB82E;
    color: #ffffff;
    width: 120px;
    left: 35px;
  }
}

@keyframes unfollow-animation {
  from {
    background: #2EB82E;
    color: #ffffff;
    width: 120px;
    left: 35px;
  }

  to {
    background: white;
    border-color: #3399FF;
    color: #3399FF;
    width: 85px;
    left: 50px;
  }
}

.interest {
  -webkit-appearance: none;
  position: relative;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.interest:after {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  top: 50px;
  cursor: hand;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  content: '+ Interest';
  -webkit-animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode: forwards;
  animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

.interest:checked:after {
  float: right;
  content: 'Interested';
  -webkit-animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode: forwards;
  animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

.horizontal-list {
  list-style: none;
  padding-left: 0;
  display:inline;
}

ul.horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-left: 0;
}
ul.horizontal-list li {
	display: inline;
}

.post_date {
  float: right;
  margin-left: 20px;
}

.point li {
  content: "\2022";
  font-size: 16px;
  margin-right: 20px;
  vertical-align: middle;
}

.read_more {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 10px;
  cursor: hand;
  display: inline-block;
  text-align: center;
  padding: 15px 40px;
  position:relative;
  left: 40%;
}

.update {
  left: 30%;
  padding: 7px 20px;
}


.split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative
    margin: auto;
}

.vacancies {
  float: right;
  width: 80%;
}

.split_sidebar {
  width: 18%;
  height: 100%;
  float: left;
  position: absolute;
  left: 2%;
}

.titles {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    color: #0a3251;
    margin-bottom: 30px;

}

.vacancy_tytle {
  margin-left: 77px;
}

.filter {
  background-color: #f4f4f4;
  border-radius: 10px;
}

.filter_header {
    padding: 0 17px;
    padding-top: 0px;
    padding-right: 17px;
    padding-bottom: 0px;
    padding-left: 17px;
    display: inline-table;
    box-sizing: border-box;
}

.clear_filter {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    color: #99a8b4;
    float: left;
    background: transparent;
    border: none;

}

#edit {
  -webkit-appearance: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #99a8b4;
  background: transparent;
  border: none;
  position: relative;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.clear_filter {
  margin-top: 20px;
  margin-left: 65px;
  margin-bottom: 20px;
  clear: both
}

.filter_body h5 {
  margin-left: 10px;
  font-size: 20px;
  font-style: italic;
}
